* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: white;
}
.nav-bar {
    width: 100%;
    height: 76px;
    position: relative;
    position: fixed;
    z-index: 1;
    background-color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.nav-list {
    display: flex;
    position: absolute;
    top: 29px;
    left: 267px;
    gap: 58.5px;
    font-size: .9375rem;
    font-weight: 400;
}
.nav-bar img {
    width: 170.5px;
    margin-top: 7px;
    margin-left: 5px;
}
.side-bar {
    height: 468px;
    display: flex;
    overflow: auto;
    scrollbar-width: none;
}
.side-bar img{
    width: 100%;
    height: 100%;
    overflow-clip-margin: content-box;    
}
.btns {
    display: flex;
    justify-content: center;
    gap: 14px;
    margin-left: 4px;
}
.btns button {
    margin-top: 5px;
    border-radius: 50%;
    border-style: none;
    background-color: rgba(128, 128, 128, 0.363);
    width: 16px;
    height: 16px;
    
}
.cards {
    display: flex;
    gap: 10px;
    margin-top: 75px;
    height: 270px;
}
div .first-card {
   margin-left: 72px;
   margin-right: -30px;
   width: 356px;
   height: 290px;
   border: 1px solid black;
   height: 249px;
   border-radius: 10px;
}
div .first-card {
    height: 269px;
}

.first-card img {
    width: 100%;
}
.first-card-logo-div .first-card-logo {
    color: #6739b7;
    font-size: 39px;
    position: absolute;
    left: 350px;
    margin-top: -35px;
}
.first-card h2 {
    width: 135px;
    color: #361968;
    font-size: 1.875rem;
    font-weight: 500;
    line-height: 1.33;
    margin-top: -100px;
    margin-left: 30px;
}

div .second-card {
    margin-left: 45px;
    margin-right: -30px;
    width: 356px;
    height: 290px;
    border: 1px solid black;
    height: 249px;
    border-radius: 10px;
    position: relative;
 }
 div .second-card {
    height: 269px;
}
 .second-card img {
    width: 100%;
 }
 .arrow {
    position: absolute;
 }
 .second-card h2 {
    position: absolute;
    top: 210px;
    left: 30px;
    width: 135px;
    color: #361968;
    font-size: 1.875rem;
    font-weight: 500;
    line-height: 1.33;
 }
 .second-card-logo-div .second-card-logo {
    color: #6739b7;
    font-size: 39px;
    position: absolute;
    left: 280px;
    top: 210px;
}
 div .third-card {
    margin-left: 45px;
    margin-right: -30px;
    width: 356px;
    height: 290px;
    border: 1px solid black;
    height: 249px;
    border-radius: 10px;
    position: relative;
 }
 div .third-card {
    height: 269px;
}
 .third-card img {
    width: 100%;
 }
 .third-card h2 {
    position: absolute;
    top: 210px;
    left: 30px;
    width: 135px;
    color: #361968;
    font-size: 1.875rem;
    font-weight: 500;
    line-height: 1.33;
 }
 .third-card-logo-div .third-card-logo {
    color: #6739b7;
    font-size: 39px;
    position: absolute;
    left: 280px;
    top: 210px;
}
.main-heading {
    margin-top: 90px;
    margin-left: 50px;
}
.side-headings {
    position: relative;
    top: 80px;
    width: 520px;
    height: 543px;
    
}
.side-headings video {
    margin-left: 620px;
    margin-top: -560px;    
}
hr {
    margin-left: 50px;
}
.main-heading h1 {
    color: #361374;
    font-size: 2.5rem;
    font-weight: 500;
    letter-spacing: -.57px;
    line-height: 1.12;
}
.heading1 {
    margin-top: 38px;
    margin-left: 50px;
}
.heading1 h2 {
    color: #323232;
    font-size: 1.375rem;
    font-weight: 400;
    letter-spacing: -.33px;
    line-height: 1.5;

}
.heading1 p {
    color: #232028;
    font-size: .875rem;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 1.4;
    opacity: .7;
    width: 90%;
    margin-top: 20px;
    margin-bottom: 20px;
}
.img1 {
    margin-left: 50px;
    margin-top: 200px;
    width: 250px;
    width: 250px;
    transition: transform 1s;
    filter: grayscale(60%);
    filter: brightness(50%);
}
.img2 {
    margin-left: 200px;
    margin-top: -270px;
    width: 300px;
    height: 300px;
    transition: transform 1s;
    filter: grayscale(60%);
    filter: brightness(50%);
}
.img3 {
    margin-left: 370px;
    margin-top: -330px;
    width: 350px;
    transition: transform 1s;
    filter: grayscale(60%);
    filter: brightness(50%);
}
.img4 {
    margin-left: 550px;
    margin-top: -370px;
    width: 400px;
    transition: transform 1s;
    filter: grayscale(60%);
    filter: brightness(50%);
}
.img5 {
    margin-top: 100px;
    margin-left: 770px;
    margin-top: -420px;
    transition: transform 1s;
    position: relative;

}
.img5:hover {
    transform: scale(1.1);
    filter: grayscale(0%);
    filter: brightness(100%);
}
.img4:hover {
    transform: scale(1.2);
    filter: grayscale(0%);
    filter: brightness(100%);
    position: relative;
    z-index: 111;
}
.img3:hover {
    transform: scale(1.4);
    filter: grayscale(0%);
    filter: brightness(100%);
    position: relative;
    z-index: 111;
}
.img2:hover {
    transform: scale(1.4);
    filter: grayscale(0%);
    filter: brightness(100%);
    position: relative;
    z-index: 111;
    filter: grayscale(0%);
    filter: brightness(100%);
}
.img1:hover {
    transform: scale(1.7);
    filter: grayscale(0%);
    filter: brightness(100%);
    position: relative;
    z-index: 111;
}
.rhyming-phonepe-images {
    margin-left: auto;
    margin-right: auto;
}
.rhyming-image {
    margin-top: 120px;    
}
.rhyming-image img {
    margin-left: 360px;
}
.phonepe-logo-image img{
    margin-top: 15px;
    margin-left: 550px;
}
.one {
    margin-top: -20px;
}
.btn button {
    margin-bottom: 100px;
    margin-left: 500px;
    margin-top: 60px;
    background-color: white;
    color: blue;
    border: 1px solid rgba(0, 0, 255, 0.374);
    border-radius: 20px 20px 20px 20px; 
    padding: 10px 80px 10px 80px;
    font-family: sans-serif;
}
.btn button:hover {
    background-color:indigo;
    color: white;
}
.paragraph {
    margin-top: -60px;
}
.paragraph p {
    font-size: 18px;
    font-weight: 400;
    line-height: 2;
    opacity: .8;
    text-align: center;
}
.trust-widget {
    align-items: center;
    background: #967edd;
    background-image: url(https://www.phonepe.com/webstatic/8750/static/trust-banner-861f26253b71e00c083fd5f6c2ea30fc.png);
    background-position: right 38px top -4px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 32px;
    box-sizing: border-box;
    color: #fff;
    display: flex;
    padding: 22px;
    transform: translateY(138px);
    margin-top: -30px;
    height: 320px;
}
.trust-widget img {
    width: 200px;
    height: 200px;
    margin-left: 85px;
}
.trust-widget-headings h1 {
    font-size: 3.0rem;
    font-weight: 700;
    line-height: 1.4;
    position:absolute;
    top: 60px;
    left: 490px;
    text-shadow: 0 2px 4px rgba(0, 0, 0, .05);
}
.trust-widget-headings p {
    position:absolute;
    top: 150px;
    left: 490px;
    font-size: 1.25rem;
    line-height: 1.7;
}
.all-logos{
    height: 774px;
    background:linear-gradient(#e5e1fb,#f8f6fe,#f9f8fe,white);
}
.two-images {
    margin-top: 270px;
    margin-left: 100px;
}
.firsth2 {
    color: #361968;
    font-size: 2.625rem;
    font-weight: 500;
    letter-spacing: -.63px;
    line-height: 1.4;
    text-shadow: 0 2px 4px rgba(0, 0, 0, .05);
    display: block;
}
.secondh2 {
    color: #361968;
    font-size: 2.625rem;
    font-weight: 500;
    letter-spacing: -.63px;
    line-height: 1.4;
    text-shadow: 0 2px 4px rgba(0, 0, 0, .05);
    display: block;
}
.head-one {
    margin-top: -480px;
    margin-left: 520px;
}
.head-one .secondh2 {
    margin-left: -125px;
}
.head-one button {
    margin-top: 35px;
    margin-left: -10px;
    background-color: #10d6f2;
    box-shadow: 0 17px 24px 0 rgba(162, 224, 217, 0), 0 5px 12px 0 rgba(48, 229, 252, .5);
    border: none;
    border-radius: 33px;
    color: #fff;
    cursor: pointer;
    display: block;
    height: 60px;
    line-height: 57px;
    width: 260px;
    font-size: 1rem;
    vertical-align: middle;
}
.head-one img {
    height: 325px;
    width: 1266px;
    margin-top: 60px;
    margin-left: -520px;
}
.bottom-side-headings {
    display: flex;
}
.bottom-img .overall-back-pic{
    margin-top: 130px;
    width: 633px;
    height: 600px;
} 
 .bottom-img .overall-sales {
    width: 633px;
    height: 634px;
    margin-left: -698px;
    margin-bottom: -108px;
}
.right-side-headings {  
    margin-top: 75px;
    margin-left: 150px;
}
.heading1 .head1 {
    margin-top: 26px;
    font-size: 26px;
}
.heading1 .head2 {
    margin-top: 10px;
}
.heading1 .onep {
    margin-top: 5px;
    font-size: 18px;
}
.heading1 .bottomp {
    font-size: 19px;
    margin-top: 3px;
    margin-bottom: -10px;
}
.heading1 .bottomp2 {
    font-size: 19px;
    margin-top: 3px;
    margin-bottom: -10px;
}
.first-arrow {
    margin-left: 282px;
}
.second-arrow {
    margin-left: 255.5px;
}
.third-arrow {
    margin-left: 163px;
}
.fourth-arrow {
    margin-left: 292px;
}
.blue-building {
    display: block;
    margin-top: 90px;
}
.violet-pallet {
    background-image: url("https://www.phonepe.com/webstatic/8801/static/stats-desktop-d03f14dfb53bebd5b23b63dd8e464adb.png");
    background-repeat: repeat-x;
    background-size: 100%;
    background-position: 0 100%;
    max-width: 1268px;
    height: 444px; 
    margin: 0 auto;
    background-color: #7962be;
}
.rem1 {
    font-size: 20px;
    color: rgba(255, 255, 255, 0.719);
    
}
.rem2 {
    font-size: 40px;
    color: rgba(255, 255, 255, 0.719);
    
}
.rem3 {
    font-size: 20px;
    color: rgba(255, 255, 255, 0.719);
    
}
.blue-building-all-texts {
    display: flex;
    position: relative;
    top: 15%;
}
.blue-building-text1 {
    display: grid;
    margin-left: 125px;
}
.blue-building-text2 {
    display: grid;
    margin-left: 235px;
}
.blue-building-text3 {
    display: grid;
    margin-left: 240px;
}
.blue-building-all-texts2 {
    margin-top: 120px;
    margin-left: 125px;
}
.blue-building-all-texts2-text span {
    font-size: 26px;
    color: rgba(255, 255, 255, 0.756);
}
.blue-building-all-texts2-text button {
    margin-left: 100px;
    border-radius: 20px;
    padding: 10px 35px;
    border-color:#10d6f2;
    background-color:#7962be;
    color: white;
}
.footer-container {
    display: flex;
    list-style: none;
    position: absolute;
    gap: 30px;
    margin-top: 80px;
    margin-left: 10px;
}
.list1 a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.596);
}
ul li {
    margin-bottom: 15px;
}
.lo {
    margin-top: -70px;
}
.li-btn {
    padding: 10px 10px;
    color: black;
    font-weight: bold;
    border: 2px solid black;
    border-radius: 12px;
}
.ft-copy-right {
    margin-top: 400px;
    margin-left: 500px;
    position: absolute;
    border: 1px solid red;
    display: flex;
}
.ft-logos {
    position: absolute;
    margin-top: 445px;
    margin-left: 1045px;
    display: flex;
    justify-content: space-around;
    width: 18%;
}
.ft-text {
    position: absolute;
    margin-top: 500px;
    margin-left: 530px;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.632);
    height: 90px;
}
.ft-copy-last-logo {
    margin-left: px;
    
}
